@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

$blur: 20px;
$shadow-opacity: 0.30;
$image: ('images/computer-programming.jpg');


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
   display: flex;
  justify-content: center;
  align-items: center;
  background-image: url($image);
  background-size: cover;
  background-position: center;
font-family: 'Cookie', cursive;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.glass {
  height: 100%;
  width: 100%;
   background-image: url($image);
  background-size: cover;
  background-position: center;
  clip-path: inset(10em);
  filter: blur($blur);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-shadow {
  height: 100%;
  width: 100%;
filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, $shadow-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
   &:before {
    display: block;
    content: "";
    position: absolute;
    top: 10em;
     height: calc(100% - 20em);
    width: calc(100% - 20em);
     border-top: 2px solid rgba(225,225,225, 0.2);
    border-left: 1px solid rgba(225,225,225, 0.1);
     border-right: 1px solid rgba(225,225,225, 0.3);
     z-index: 2;
   //  filter: blur(1px);
  }
    
//   ---------------------------------------------------
.animate-character
{
//    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #7C0B2B 20%,
    #ff1361 50%,
    #4361ee 67%,
    #4895ef 100%,
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 4s ease infinite;
  display: inline-block, linear infinite;
        font-size: 800px;
}

// ----------------------------------------------------
  > span {
    position: absolute;
  }
}

@media (max-width: 980px) {
  .glass {
     clip-path: inset(5em);
  }
  .drop-shadow {
    &:before {
      top: 5em;
      width: calc(100% - 10em);
    }
    > span {
    //   font-size: 4em;
    }
  }
}

@media (max-width: 640px) {
  
  .drop-shadow {
    > span {
      font-size: 2em;
    }
  }
}


@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
// -------------------------------------------------------------
.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}
// --------------------------------------------------------------------------------//

